// @keyframes shuffle {
// 	0%{	transform: translate(50%, 50%);}
// 	100%{ transform: translate(0)}		
// }

@keyframes show {
  0% {
    background-color: $folded-bg;
    
    transform: rotateY(180deg);
  }
  30%{
  	background-color: $folded-bg;
  }
  30.01%{
  	background-color: $shown-bg;
  }
  
  100% {
    background-color: $shown-bg;
    
	transform: rotateY(360deg);
  }
}

@keyframes hide {
	0% {
		background-color: $shown-bg;

		transform: rotateY(180deg);
	}
	30%{
		background-color: $shown-bg;
	}
	30.01%{
		background-color: $folded-bg;
	}

	100% {
		background-color: $folded-bg;

		transform: rotateY(360deg);
	}
}

@keyframes content-show {
	0%{

		opacity: 0;
	}
	30%{
		opacity: 0;
	}
	30.01%{
		opacity: 1;
	}
	100%{
		
		opacity: 1;
	}
}
@keyframes content-hide {
	0%{
		transform: rotateY(180deg) translateY(1em);
		opacity: 1;
	}
	30%{
		opacity: 1;
	}
	30.01%{
		opacity: 0;
	}
	100%{
		transform: rotateY(360) translateY(1em);
		opacity: 0;
	}
}
@keyframes remove-card {
	0%{	 transform:  scale(1) rotate(0);}
	100%{ transform: scale(0.01) rotate(900deg) ;}
}
@keyframes remove-content {
	0%{	 transform: scale(1) translateY(1em);}
	100%{ transform: scale(0.01) translateY(1em);}
}