// .prompt{
// 	display: none;
// 	height: 100%;
// 	position: fixed;
// 	top: 0;
// 	width: 100%;
		
// }
// .prompt-text{
// 	background: $match-color;
// 	font-size: 5em;
// 	left: 50%;
// 	padding: 1em;
// 	position: absolute;
// 	top:50%;
// 	@include transform(translate(-50%, -50%));
// }
.prompt{
	position: fixed;
	top:0;
}
.prompt-text{
	height: 5em;
	display:none;
	width: 10em;
}

.prompt-text.prompt-show{
	display: block;
	@include animation(message-1 3s 1);
}
.match-found{
	background: $match-color;
}
.game-over{
	background: $match-color;
	background: #3E8AAE;
}
@include keyframes(message-1){
	0%{
		@include transform (translateY(-10em));
		
	}
	30%{
		@include transform (translateY(0));
	}
	75%{
		@include transform (translateY(0));
	}
	100%{
		@include transform (translateY(-10em));
	}
}