
@import "compass";
@import "animation";
@import "susy";
@import "normalize";
$text-color: #222;
@import "boilertop";

$total-columns  : 4;             // a 12-column grid
$column-width   : 12em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$flip-duration: 0.5s;
$shown-bg : #69A8E7;
$folded-bg : #5B5E51;
$match-color:#63D187;

@include border-box-sizing;
.page{
	@include container;
	// @include susy-grid-background;
	.card1-1, 
	.card1-2, 
	.card2-1, 
	.card2-2, 
	.card3-1, 
	.card3-2, 
	.card1-3, 
	.card2-3, 
	.card3-3{
		@include span-columns(1,$total-columns);
		background: #58D3C7;
	}
	
	.card1-4,
	.card2-4, 
	.card3-4{
		@include span-columns(1 omega, $total-columns);
		background: #D566CC;
	}
}
.intro > .card{
	@include animation(shuffle 3s 1);
}
.card{

	border: solid thin #222;
	@include border-radius(10px);
	@include box-shadow(inset 0 0 0px 7px #FFF);
	height: $column-width;
	margin-top: $column-width/2;
	
}
.card-content{
	font-size: $column-width/2;
	line-height: 0;
	text-align: center;
	@include translateY();
}
.card.folded{
	background: $folded-bg;

	.card-content{
		visibility: hidden;
	}
}
.folded.shown{
	background: $shown-bg;
	.card-content{
		visibility: visible;
	}
}
.card.offgame{
	
	@include animation(remove-card $flip-duration 1);
	.card-content{
		@include animation(remove-content $flip-duration 1);
	}
}
.offgame.gone{
	visibility: hidden;
	.card-content{
		visibility: hidden;
	}
}

.shown{
	
	@include animation(show $flip-duration 1);
	.card-content{
		@include animation(content-show $flip-duration 1); 
	}
}
.hiding{
	@include animation(hide $flip-duration*0.5 1);
	.card-content{
		@include animation(content-hide $flip-duration*0.5 1); 
	}
}
.card.patch{
	// margin-left: 2em;
	background: $folded-bg;
	.card-content{
		visibility: hidden;
	}
}
@import "cards-keyframes";
@import "prompt";
@import "boilerbottom";